:root {
    --primary-purple: #2B0A57;
    --secondary-purple: #3A156C;
    --white: #ffffff;
    --secondary-white: #F8F5FC;
    --border-radius: 30px;
    --margin-center: 0 auto;
    --tundora: #413C3C;
    --error-color: #EB5757;
    --light-grey: #ECECEC;
    --lighter-grey: #E9E9E9;
    --grey: #9C9C9C;
    --input-border: #2B0A57;
    --input-border-radius: 4px;
    --success: #53CBA0;
  }